<footer class="footer">
  <a class="link-top" href="index.html#top">
    <button class="button-top">
      <img src="./assets/images/ico-arrow.svg" class="arrow-button" />
    </button>
  </a>
  <div class="footer-links">
    <ul class="site-map">
      <li class="site-map-item" >
        <a class="site-map-link"href="https://adalab.es" target="_blank">articles</a>
      </li>
      <li class="site-map-item" >
        <a class="site-map-link"href="https://adalab.es" target="_blank">book</a>
      </li>
      <li class="site-map-item">
        <a class="site-map-link" href="https://adalab.es" target="_blank">events</a>
      </li>
      <li class="site-map-item" >
        <a class="site-map-link"href="https://adalab.es" target="_blank">reasons</a>
      </li>
      <li class="site-map-item">
        <a class="site-map-link"href="https://adalab.es" target="_blank">tips</a>
      </li>
    </ul>
    <ul class="social-networks">
      <li class="social-networks-item">
        <a class="social-networks-link"href="https://adalab.es" target="_blank">twitter</a>
      </li>
      <li class="social-networks-item">
        <a class="social-networks-link" href="https://adalab.es" target="_blank">instagram</a>
      </li>
      <li class="social-networks-item" >
        <a class="social-networks-link"href="https://adalab.es" target="_blank">mastodon.social</a>
      </li>
    </ul>
    <aside class="extra-info">
      <small class="copyright">&copy2021</small>
      <small class="slogan">we<span class="heart">♥</span>components</small>
    </aside>
  </div>
</footer>
