<main>
  <section class="cover">
    <h1 class="title">anonymous proxy</h1>
    <p class="cover-p">In hac habitasse platea dictumst.</p>
    <a class="link-purchase" href="index.html#purchase-h2">
      <button class="scroll">
        <img src="./assets/images/ico-scroll-down.svg" class="hero-button" />
      </button>
    </a>
  </section>
  <section class="windows-box">
    <div class="tips">
      <span class="tips-text">Insomnia Tips</span>
    </div>
    <h2 class="window">Looking Through A Window</h2>
    <p class="window-p">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="button-empty">Go</button>
  </section>
  <section class="purchase">
    <h2 class="purchase-h2" id="purchase-h2">3 Reasons To Purchase</h2>
    <div class="grid-container">
      <article class="article-class">
        <h3 class="purchase-title">Ut sed metus</h3>
        <p class="purchase-text">Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article class="article-class">
        <h3 class="purchase-title">Curabitur ac erat</h3>
        <p class="purchase-text">Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="article-class">
        <h3 class="purchase-title">Morbi dictum</h3>
        <p class="purchase-text">Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
    <buttonc class="button-filled">More reasons</button>
  </section>
</main>
