<main>
  <section class="cover">
    <h1 class="title">anonymous proxy</h1>
    <p class="cover-p">In hac habitasse platea dictumst.</p>
    <a class="link-purchase">
      <button class="scroll">
        <img src="./assets/images/ico-scroll-down.svg" class="hero-button" />
      </button>
    </a>
  </section>
  <section class="windows-box">
    <div class="tips">
      <span>Insomnia Tips</span>
    </div>
    <h2 class="window">Looking Through A Window</h2>
    <p class="window-p">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button>Go</button>
  </section>
  <section class="purchase">
    <h2 class="purchase-h2">3 Reasons To Purchase</h2>
    <div class="grid-container">
      <article class="article-class">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article class="article-class">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="article-class">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </article>
  

    </div>
    

    <button>More reasons</button>
  </section>
</main>
