<main>
    <section class="cover">
      <h1>anonymous proxy</h1>
      <h2>In hac habitasse platea dictumst.</h2>
      <a class="link-purchase">
        <button>
          <img src="./assets/images/ico-scroll-down.svg" class="hero-button" />
        </button>
      </a>
    </section>
    <section>
      <div>
        <span></span>
      </div>
      <h1></h1>
      <p></p>
      <button></button>
    </section>
    <section>
      <h1></h1>
      <ul>
        <li>
          <h2></h2>
          <p></p>
        </li>
        <li>
          <h2></h2>
          <p></p>
        </li>
        <li>
          <h2></h2>
          <p></p>
        </li>
      </ul>
      <button></button>
    </section>
  </main>