// fonts
$font-main: 'Roboto', sans-serif;
$font-titles: 'RobotoSlab', sans-serif;

// colors
$bright-orange: #f26002;
$white: #fff;
$ice-blue:#eff9ff;
$lightblue: #8ccbea;
$cerulean: #0271bc;
$dark-grey-blue: #304268;

// path images
$pathImages: '../images/';
